@import "tailwindcss";

@theme {
  --color-background: #070808;
  --color-secondaryBackground: #0F0F0F;
  --color-primaryText: #FFFFFF;
  --color-secondaryText: #9F9F9F;
  --color-stroke: #242B2B;
  --color-stroke2: #333C3C;
  --color-selectedNavBg: #0C1414;
  --color-primaryColor: #4AE3C9;
  --color-secondaryColor: #032C2D;
  --color-alertRed: #E31A1A;
}

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-[#FFFFFF] to-[#FFFFFF]/60 bg-clip-text text-transparent;
  }

  .gradientbg {
    @apply bg-gradient-to-r from-[#040706] to-[#0F1212];
  }

  .gradientbg2 {
    background:
      radial-gradient(circle at 20% 30%, rgba(74, 227, 201, 0.25) 0%, transparent 30%),
      radial-gradient(circle at 80% 20%, rgba(74, 227, 201, 0.18) 0%, transparent 35%),
      radial-gradient(circle at 60% 75%, rgba(74, 227, 201, 0.12) 0%, transparent 40%),
      #000000;
  }
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-inter), sans-serif;
  letter-spacing: -0.04em; 
  min-height: 100vh;
}

button{
  border-radius:4px;
}

input{
  border-radius:4px;
}